<h1>High Scores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @high_scores.each do |high_score| %>
      <tr>
        <td><%= high_score.username %></td>
        <td><%= high_score.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
