@import url(http://fonts.googleapis.com/css?family=Share+Tech);

$font: 'Share Tech', Helvetica, sans-serif;

///// Palette
$steel: #46483e;
$cream: #d2d8ba;
$pink: #E84F4F;
$green: #6E9E3A;
$grid: #CCCCCC;

///// General styling

body, html {
  font-family: $font;
  background-color: $steel;
  font-size: 1.35em;
  color: $cream;
  // overflow: hidden;
}
p {
  font-family: $font;
  background-color: $steel;
  font-size: 1em;
  line-height: 1;
}

::selection {
  background: #FCA27E;
	background: darken($steel, 10%);
  color: $pink;
	}
::-moz-selection {
	background: darken($steel, 10%);
  color: $pink;
}

.h1 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 10px;
}
.h2 {
  font-size: 1.5em;
  line-height: 0.75;
}

a {
	color: $green;
	text-decoration: none;
}

a:hover {
	background-color: $green;
	color: $steel;
}

.container {
  // Fix-width, but you can't play a 
  // keyboard-driven game on mobile anyway.
  width: 562px;
  margin: 0px auto;
}

div.relative { position: relative;}
div.score-container p {
  position: relative;
  top: -50%;
  vertical-align: middle; 
  text-align: center; 
}

table {
  width: 100%;
  margin-top: 200px;
  counter-reset: rank-counter;
  border: 1px solid darken($steel, 3);

  tr:nth-child(2n) td {
    background-color: lighten($steel, 2);
  }
  tr:before {
    content: rank-counter;
    counter-increment: rank-counter;
  }

  tr {
    th { 
      font-size: 1.5em;
      text-transform: uppercase;
      color: $green;
      text-shadow: 3px 3px 0px darken($steel,3);
      -webkit-transform: matrix(1,0,-0.085,1,0,0);
      -moz-transform: matrix(1,0,-0.085,1,0px,0px);
      -ms-transform: matrix(1,0,-0.085,1,0,0);
      -o-transform: matrix(1,0,-0.085,1,0,0);
      transform: matrix(1,0,-0.085,1,0,0);
    }
    td {
      padding: 15px;
      font-size: 0.7em;
      .table-score {
        text-align: center;
      }
    }
  }
}

input[type=text] {
  font-size: 1em;
  font-family: $font;
  display: inline-block;
  padding: 5px;
  text-align: center;
  margin-bottom: 5px;
  border: none;
  font-size: 30px;
  width: 100%;
  background-color: $grid;
  color: $steel;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.pull-right {
  float: right;
}

//// Positioning and view-specific elements

.instructions {
  background-color: $grid;
  color: $cream;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .float-left {
    float: left;
  }
  .float-right {
    float: right;
  }
  span {
    display: inline-block;
    color: $cream;
    padding: 5px;
  }
}
  
.postscript { 
  clear: both;
  font-size: 0.5em;
  font-family: Helvetica, Arial, sans serif;
}
.score {
  font-size: 3em;
}

.board {
	// float: left;
	display: table;
	padding: 1px;
	background-color: $steel;
	width: 562px;
}

.cell {
	float: left;
	margin: 0.5px;
	background-color: $grid;
	display: inline-block;
	padding: 0px;
	width: 13px;
	height: 13px;
	font-size: 10px;
	color: #000000;
}

.snake {
  background-color: #6E9E3A;
}

.apple {
  background-color: $pink;
}

.obstacle {
  background-color: $steel;
}

.excited { 
  color: $pink;
  font-weight: bold;
  font-size: 2em;
  display:inline-block;
  -o-animation: throb 0.6s infinite alternate;
  -moz-animation: throb 0.6s infinite alternate;
  -webkit-animation: throb 0.6s infinite alternate;
  animation: throb 0.6s infinite alternate;
}
@-webkit-keyframes throb { 
  from { -webkit-transform: scale(1,1); }
  to {-webkit-transform: scale(1.3,1.3);}
}
@-moz-keyframes throb { 
  from { -webkit-transform: scale(1,1); }
  to {-webkit-transform: scale(1.3,1.3);}
}
@-o-keyframes throb { 
  from { -webkit-transform: scale(1,1); }
  to {-webkit-transform: scale(1.3,1.3);}
}
@keyframes throb { 
  from { -webkit-transform: scale(1,1); }
  to {-webkit-transform: scale(1.3,1.3);}
}

// Button generator code.
// from http://www.commentredirect.com/make-awesome-flat-buttons-css/

.btn {
  margin-top: 10px;
  margin-right: 10px;
  padding: 14px 26px;
  font-size: 1em;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  display:inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn:active {
  padding-top: 15px;
        margin-bottom: -1px;
}
.btn, .btn:hover, .btn:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff;
}

.btn-pink {
  background-color: $pink;
  box-shadow: 0px 3px 0px 0px darken($pink, 20%);
}
.btn-pink:hover {
  background-color: darken($pink, 5%);
}
.btn-pink:active {
  box-shadow: 0px 1px 0px 0px darken($pink, 5%);
}