body {
	font-family: 'Share Tech', Helvetica, sans-serif;
	background-color: #46483e;
	font-size: 1.5em;
	color: #d2d8ba;
}

::selection {
	background: #FCA27E;
	}
::-moz-selection {
	background: #FCA27E;
}

.sidebar {
	float: left;
	width: 350px;
}

.score {
	font-size: 3em;
}

a {
	color: rgb(102, 153, 0);
	text-decoration: none;
}

a:hover {
	background-color: rgb(102, 153, 0);
	color: #46483e;
}



/* Game board styling */
.board {
	float: left;
	display: table;
	padding: 1px;
	background-color: #46483e;
}

.tile {
	float: left;
	margin: 1px;
	background-color: #ccc;
	display: inline-block;
}

.snake {
  background-color: #6E9E3A;
}

.apple {
  background-color: #E84F4F;
}


/* Modal dialog */

#gameover-box {
 visibility: hidden;
}

#gameover-box div {
     width:300px;
     background-color: #333;
     color: #eee;
     border: 2px solid #33342d;
     padding:15px;
     text-align:center;
}

#gameover-box a {
	color: #FFF;
	text-transform: uppercase;
	padding: 20px;
	background-color: #E84F4F;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

#gameover-box a:active {
	position: relative;
	top: 1px;
}

#gameover-box p {
	padding: 10px;
}
