<form class="save-score-form">
<input type="text" name="username" placeholder="Enter a username to save" autofocus="autofocus">
<a class="btn btn-pink save-score" class="save-score">Submit Score</a>
</form>