<div class="title">
  <div class="h1">Serpent</div>
</div>


<div class="board"></div>

<div class="instructions">
    <div class="float-left">
      <p>Eat the <span class="apple">apples</span>. <span class="scoreview"></span></p>
    </div>
</div>

<div class="postscript">
  <p> 
  Developed by Jennifer Hamon <a href="mailto:jen@hamon.io">jen@hamon.io</a> with Backbone.js, jQuery, and Ruby on Rails. I'm currently interviewing for full-stack dev roles with a ruby and javascript emphasis, so get in touch if you think your company is a good match.
  </p>
</div>