<div class="relative">
  <div class='score-container'>
    <p class="h1"> Your Score: <span class="excited"><%= score %></span> </p>
  </div>
</div>

<div class="add-score"></div>
<a class="btn btn-pink reset">Play again</a>
<div class="scoreboard"></div>